<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bibi.Baidu">
    <!-- gps -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <!-- wifi -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <!-- 网络的权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 存储数据 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!-- 获取手机信息 -->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <application
        android:name=".Appliction.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".acitivity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".acitivity.BaseActivity"/>
        <activity android:name=".acitivity.LoginActivity"/>
        <activity android:name=".acitivity.RegistActivity"/>
        <activity android:name=".acitivity.GoActivity"/>
        <activity android:name=".acitivity.CitySelectActivity"/>
        <activity android:name=".acitivity.CallFastTaxiActivity"/>
        <activity android:name=".acitivity.SetAddressActivity"/>
        <service android:name="com.baidu.location.f" android:enabled="true" android:process=":remote"></service>
        <meta-data
            android:name="com.baidu.lbsapi.API_KEY"
            android:value="3ecea51f560650b1ed8a4b99808f52e8" /><!-- ATTENTION: This was auto-generated to add Google Play services to your project for
     App Indexing.  See https://g.co/AppIndexing/AndroidStudio for more information. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>